.cont{
    display: flex;
    justify-content: center;
    
}
.text{
    font-size: x-large;
    display: flex;
    align-items: center;    
}
.paginado{
    display: flex;
    justify-content: center;
}

