.profileContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.estadodeuda-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.deuda-span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aldia-container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.aldia-container > div > img {
  width: 20%;
}
.aldia-container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leftProfileContainer .table-edit-container {
   position: relative;
   text-align: center;
   display: flex;
   flex-direction: column;
   width: 80%;
   height: 80%;
   padding: 1rem;
   border: 0.1rem solid black;
   border-radius: 0.5rem;
   background-color: grey;
}
.link-edits-container > h4 {
   color: white;
   border-bottom: 0.1rem solid black;
}
.leftProfileContainer .table-edit-container .link-edits-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.leftProfileContainer .table-edit-container .link-edits-container > span {
   display: flex;
}
.button-question {
   position: absolute;
   display: flex;
   justify-content: center;
   width: 1rem;
   top: 5px;
   right: 5px;
}
.nameAndEditContainer {
   position: relative;
   display: flex;
   justify-content: end;
   align-items: center;
   width: 100%;
}
.editButtonContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

@media (max-width: 700px) {
  .nameAndEditContainer {
    flex-direction: column; 
    top: 3rem;
    align-items: center; 
  }

  .editButtonContainer {
    margin-top: 1rem; 
  }
}

.adminButtonContainer {
  left: 630px;
  bottom: 365px;
  position: absolute;
  z-index: 2;
}

@media (max-width: 1024px) {
  .adminButtonContainer {
    position: absolute;
    left: 240px;
    top: 350px;
  }
}
@media (max-width: 768px) {
  .adminButtonContainer {
    position: absolute;
    left: 240px;
    top: 200px;
  }
}

.Editbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(119, 119, 119);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: white;
}
.Editbutton:hover {
   cursor: pointer;
   transform: scale(1.1);
   transition: 500ms ease all;
}

.portadaContainer {
   display: flex;
   position: relative;
   justify-content: center;
}
.portadaContainer > img:first-child {
   width: 100%;
   height: 22rem;
   overflow-y: hidden;
   border-radius: 0.5rem;
   position: relative;
}
.portadaContainer > img:last-child {
   position: absolute;
   width: 10rem;
   height: 10rem;
   bottom: -5rem;
   left: 2rem;
   border-radius: 50%;
   border: 0.2rem black solid;
}

.perfilInfoContainer {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 30%;
  border-top: 0.1rem solid black;
  padding: 1rem;
  top: 2rem;
}

.detallesContainer {
   position: relative;
   display: flex;
   height: 100%;
   width: 90%;
   flex-direction: column;
   justify-content: space-evenly;
   border-radius: 0.5rem;
   border: 0.2rem rgb(36, 36, 36) solid;
   padding-left: 0.5rem;
   font-size: 1.2rem;
}

@media (max-width: 768px) {
  .perfilInfoContainer,
  .detallesContainer {
    width: 100vw;
    gap: 1rem;
    width: 100%;
    grid-template-columns: 100%;
  }
}

.containerGlobal{
  width: 100%;
  padding: 2rem;
  border-radius: 15px;
  border: solid black 2px;
}

@media(max-width: 1024px){
  .containerGlobal{
    width: 100%;
  }
}

.detallesSpan {
   font-size: 1.8rem;
   font-weight: bold;
}
.dataContainers {
   display: flex;
   gap: 1rem;
}

.estadoDeudaContainer {
   display: flex;
   height: 100%;
   position: relative;
   justify-content: space-evenly;
   border-radius: 0.5rem;
   border: 0.2rem rgb(36, 36, 36) solid;
   font-size: 1.2rem;
}

.estadocontainer {
   display: flex;
   width: 900%;
   flex-direction: column;
}
.mercadopagoContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 30%;
}
.loader-barra-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-barra-mp {
  display: block;
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader-barra-mp::after {
  content: "";
  width: 40%;
  height: 100%;
  background: #f78360;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader-barra-mp 2s linear infinite;
}
.acept-container {
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   width: 50%;
   height: 20%;
   background-color: #ffb45f;
   border-radius: 0.5rem;
   border: 0.1rem solid black;
   font-weight: bold;
}
.acept-container > span {
   padding: 5px;
   display: flex;
   justify-content: center;
}
.continuar-cancelar-container {
   display: flex;
   width: 50%;
   justify-content: space-between;
}
.continuar-cancelar-container > button:first-child {
   background-color: rgb(59, 135, 59);
   font-weight: bold;
   color: white;
}
.continuar-cancelar-container > button:first-child:hover {
   border: 0.1rem solid black;
}
.continuar-cancelar-container > button:last-child:hover {
   border: 0.1rem solid black;
}
.continuar-cancelar-container > button:last-child {
   background-color: rgb(247, 60, 60);
   font-weight: bold;
   color: white;
}
@keyframes animloader-barra-mp {
   0% {
      left: 0;
      transform: translateX(-100%);
   }
   100% {
      left: 100%;
      transform: translateX(0%);
   }
}
.carnet-container {
  position: absolute;
  display: flex;
  bottom: 5px;
  right: 5px;
}
.pagarContainer {
   bottom: 1.5rem;
}
.pagarContainer > button {
   background-color: #007eb5;
   color: white;
}
.otraInfoContainer {
   display: flex;
   height: 25%;
   position: relative;
   width: 82%;
   justify-content: space-evenly;
   border-radius: 0.5rem;
   border: 0.2rem rgb(36, 36, 36) solid;
   font-size: 1.2rem;
}

.learn-more {
   width: 13rem;
   height: auto;
   position: absolute;
   display: inline-block;
   cursor: pointer;
   outline: none;
   border: 0;
   vertical-align: middle;
   text-decoration: none;
   background: transparent;
   padding: 0;
   font-size: inherit;
   font-family: inherit;
   left: 10px;
}

.learn-more .circle {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   box-shadow: 0 0 5px 1px white;
   position: relative;
   display: block;
   margin: 0;
   width: 3rem;
   height: 3rem;
   background: #282936;
   border-radius: 1.625rem;
}

.learn-more .circle .icon {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   background: #fff;
}

.learn-more .circle .icon.arrow {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   left: 0.625rem;
   width: 1.125rem;
   height: 0.125rem;
   background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: absolute;

   padding: 0.75rem 0;
   margin: 0 0 0 1.85rem;
   color: grey;

   font-weight: 700;
   line-height: 1.6;
   text-align: center;
   text-transform: uppercase;
}

.learn-more:hover .circle {
   width: 100%;
   box-shadow: 0 0 10px 2px white;
}

.learn-more:hover .button-text {
   transform: translate(-1.7rem, 0);
}

.learn-more:hover .circle .icon.arrow {
   background: #fff;
   transform: translate(10rem, 0);
}

.learn-more:active .circle .icon.arrow {
   transform: translate(9.5rem, 0);
   transition: all 0.3s;
}

.learn-more:active .circle {
   transform: scale(0.9);
   transition: all 0.3s;
   box-shadow: 0 0 5px 0.5px white;
}

.learn-more:hover .button-text {
   color: #fff;
}

.learn-more:active .button-text {
   color: rgba(255, 255, 255, 0.459);
}
.alerts {
   position: absolute;
   bottom: 2rem;
   left: 5rem;
   z-index: 3;
}
@media screen and (max-width: 1366px) {

   .portadaContainer {
      display: flex;
      position: relative;
      justify-content: center;
   }
   .portadaContainer > img:first-child {
      width: 100%;
      height: 22rem;
      overflow-y: hidden;
      border-radius: 0.5rem;
      position: relative;
   }

}

.birth-gender-container-profile {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.gender-container {
   width: 50%;
}
.phone-dni-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.name-lastname-img-container {
   display: grid;
   gap: 10px;
   grid-template-columns: 70% 30%;
}
.names-create-profile-container {
   display: flex;
   flex-direction: column;
}
.photo-container {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   position: relative;
}
.photo-container > img {
   border: 0.1rem solid orangered;
   border-radius: 50%;
   width: 150px;
   height: 150px;
}
.fileContModal > input {
   display: none;
}

.fileContModal {
   position: absolute;
   width: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   height: 2rem;
   background-color: rgba(62, 62, 62, 0.603);
   bottom: -0.5rem;
}
.input-error-container {
   display: flex;
   flex-direction: column;
}
.input-error-container > span {
   color: red;
}

.update-perfil {
   font-weight: bold;
   border: 0.1rem solid orangered;
   border-radius: 0.5rem;
   color: orangered;
   cursor: pointer;
   background-color: white;
}
.update-perfil:hover {
   cursor: pointer;
   transition: 300ms ease all;
   transform: scale(1.1);
}

