
.image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  overflow: hidden;
}

.contProf{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    height: 70vh;
}
.formContainerProfile {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: space-around;
  background-color: #FB731C;
  border: solid .3rem black;
  border-radius: 2rem;

}
.formContainer form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.formContainer form button{
  background-color: orange;
}
.formcomponentcont{
    width: 100%;
height: auto;
}
.prevContainer{

  width: 30vw;
  justify-content: space-around;
  height: auto;
  background-color: #FB731C;
  
 border: solid .3rem black;
  border-radius: 2rem;

}
.prevImgCont{
width: 100%;
  display: flex;
  
  justify-content: space-around;

}
.prevContainer img{
  width: 25%;
  background-color: #FB731C;
  border: .2rem solid rgb(0, 0, 0);
  border-radius: 50%;

}
.perfilContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  height: 70vh;
  background-color: rgba(217, 129, 15, 0.599);
  border: .5rem solid rgba(0, 0, 0, 0.279);
  border-radius: 1rem;
}
.imgCont{
  display: flex;
  justify-content: space-around;
}
.imgCont img{
  width: 10rem;
  background-color: #FB731C;
  border: .2rem solid rgb(0, 0, 0);
  border-radius: 100%;
}
