.cont_update_sponsor{    
    display: flex;   
    align-items: center;   
    width: 75vw;
    
}
.cardIzq_update_sponsor{    
    display: flex;
    align-items: center;
    justify-content: space-between;    
    flex-direction: column;
    border: 3px solid orange ;
    padding: 1rem;    
    border-radius: 1rem;   
    background-color: rgba(255, 166, 0, 0.116);
    width: 20rem;
    height: 25rem;
}
.select_sponsor_editar{
    padding: 8px;
    background-color: wheat;
    border: 3px;
    border-radius:  1rem;
    font-size: medium;    
}
.cardDerecha_update_sponsor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid orange;
    padding: 9.5rem;
    text-align: center;      
    border-radius: 1rem;    
    position: relative;
    background-color: rgba(255, 166, 0, 0.116);
    width: 25rem;
    margin-left: 1rem;
    height: 25rem;

}
.campo1{
    display: flex;
    margin-left: 2px;
    background-color:wheat;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 4px;
    border: 3px;
    border-radius:  1rem;
}
.campo2{
    background-color:wheat;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: 3px;
    border-radius:  1rem;
    
}
.butonUpdate_guardar_sponsor{
    margin-right: 4rem;  
    background-color: rgba(245, 222, 179, 0.959);
   
}
.contenedor_guardar_sponsor{    
    position: absolute;
    bottom: 1rem;    
    margin-left: 3rem;  
         
}
.img_sponsor_editar{
    max-height: 100%;
    max-width: 100%;
}
.cont_renderImg_sponsor{
   width: 20rem;
   height: 10rem;   
}
.maqueta_ubicar_sponsor{
    display: flex;    
    max-width: 98%;   
    justify-content: space-between;
    margin-bottom: 1.5rem;
      
}
.file_sponsor_update{    
    margin-bottom: 1rem;    
    margin-top: 6rem;
    font-size: small;
}
.eliminar_imagen_sponsor{
    font-size: small;
    margin-top: 1rem;
    background-color: rgba(245, 222, 179, 0.959);
}
.submit_sponsor_img_update{
    font-size: small;
    margin-top: 1rem;
    background-color: rgba(245, 222, 179, 0.959);  
}
.ejemplo{
    width: 45%;     
}
.texto_sponsor_ej{
    font-size: medium;
    text-align: center;

}
.cont_alerta_sponsor{    
    position: absolute;
    margin-top: -3rem;
    
}
.sure_sponsor_alerta{
   background-color: rgba(245, 222, 179, 0.959);
   padding: 5px;
   border-radius: 1rem;  
   border: 3px solid orange; 
}
.aceptar_buton_sponsor{
    font-size: smaller ;   
}
