.cont_update_sponsor{    
    display: flex;   
    align-items: center;   
    width: 75vw;   
    justify-content: center; 
    
    height: 80vh;
}
.loader_update_sponsor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(66, 66, 64, 0.47);
    backdrop-filter: blur(3px);
    z-index: 10;
    border-radius: 1rem; 
}
.loader {
    width: 48px;
    height: 12px;
    margin-top: 40px;
    background: #FFF;
    display: inline-block;
    position: relative;
  }
  .loader::after {
    content: '';  
    left: 50%;
    top: -47px;
    transform: translate(-50%, 0);
    position: absolute;
    border: 15px solid transparent;
    border-bottom-color: #FFF;
    box-sizing: border-box;
    animation: bump 0.4s ease-in-out infinite alternate;
  }
  .loader::before {
    content: '';  
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
    position: absolute;
    width: 15px;
    height: 20px;
    background: #FFF;
    box-sizing: border-box;
    animation: bump 0.4s ease-in-out infinite alternate;
  }
  
  @keyframes bump {
    0% {
      transform: translate(-50%, 5px);
    }
    100% {
      transform: translate(-50%, -5px);
    }
}
.response-update-sponsor{
    position: absolute;
    left: 0;
    bottom: 12%;
    z-index: 10;    
}
.cardIzq_update_sponsor{    
    display: flex;
    align-items: center;
    justify-content: space-between;    
    flex-direction: column;
    border: 3px solid orange ;
    padding: 1rem;    
    border-radius: 1rem;   
    background-color: rgba(255, 166, 0, 0.116);
    width: 34.7vw;
    height: 75vh;
}
.select_sponsor-_editar{
    padding: 8px;
    background-color: wheat;
    border: 3px;
    border-radius:  1rem;
    font-size: 1.7vw;      
    text-align: center;   
    font-size: 1.5vw;
    height: 7vh;
    
}
.select_sponsor_editar option{
    width: 1vw ;
    font-size: 0.7vw;
    background-color: yellow;    
    
}



.cardDerecha_update_sponsor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid orange;
    
    text-align: center;      
    border-radius: 1rem;    
    position: relative;
    background-color: rgba(255, 166, 0, 0.116);
    width: 32vw;
    height: 75vh;
    margin-left: 1rem;
    position: relative;

}
.windows_update_sponsor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12rem;
    text-align: center;      
    border-radius: 1rem;    
    background-color: rgba(255, 166, 0, 0.116);
    width: 25rem;
    margin-left: 1rem;
    height: 25rem;
    text-align: center;      
    border-radius: 1rem;    
    position: relative;
    background-color: rgba(4, 255, 0, 0.693);
    width: 25rem;
    margin-left: 1rem;
    height: 33rem;
}
.campo1{
    display: flex;
    margin-left: 2px;
    background-color:wheat;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 4px;
    border: 3px;
    border-radius:  1rem;
    font-size: 2vw;
    width: 14vw;
}
.campo2{
    background-color:wheat;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: 3px;
    border-radius:  1rem;
    font-size: 2vw;    
}
.butonUpdate_guardar_sponsor{
    
    background-color: rgba(245, 222, 179, 0.959);
    font-size: 1.5vw;
   
}
.contenedor_guardar_sponsor{    
    position: absolute;
    bottom: 2rem;   
   text-align: center;
   display: flex;
   justify-content: center;
         
}
.img_sponsor_editar{
    max-height: 100%;
    max-width: 100%;
}
.cont_renderImg_sponsor{
   width: 30vw;
   height: 10vh; 
 
}
.maqueta_ubicar_sponsor{
    display: flex;    
    width: 33vw;     
    justify-content: space-between;  
      
      
}
.file_sponsor_update{    
    margin-bottom: 1rem;    
    margin-top: 6rem;
    font-size: 1.2vw;
    
}
.eliminar_imagen_sponsor{
    font-size: 1.5vw;
    margin-top: 1rem;
    background-color: rgba(245, 222, 179, 0.959);
}
.submit_sponsor_img_update{
    font-size: small;
    margin-top: 1rem;
    background-color: rgba(245, 222, 179, 0.959);  
}
.ejemplo_update_sponsor{
    width: 45%;     
}
.texto_sponsor_ej{
    font-size: 1.5vw;
    text-align: center;

}
.cont_alerta_sponsor{    
    position: absolute;
    margin-top: -3rem;
    
}
.sure_sponsor_alerta{
   background-color: rgba(245, 222, 179, 0.959);
   padding: 5px;
   border-radius: 1rem;  
   border: 3px solid orange; 
}
.aceptar_buton_sponsor{
    font-size: smaller ;   
}
