.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  margin-left: 10%;
}

.contCard {
  border: 2px;
  border-color: black;
  margin: 20px;
  display: flex;
  justify-content: center;
}
.separador{
  display: flex;
  justify-content: center;
 margin-top: 10%;
}
.separador>img{
  width: 5vw;
  height: 5rem;
}
@media screen and (max-width:1366px){
.separador{
  display: none;
}
}
@media screen and (max-width: 720px) {
  .cont {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
