.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contCard {
  border: 2px;
  border-color: black;
  margin: 30px;
}
.separador>img{
  width: 5rem;
}
@media screen and (max-width: 720px) {
  .cont {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
