.MuiDataGrid-columnHeaders > * {
  font-weight: bold !important;
  font-size: 1rem;
}


.MuiDataGrid-root {
  width: 100%;
  height: 50%;
  text-align: center;
}
.AppGlass{
position: relative;
z-index:1;

}
.divprueba{
  background-color: rgb(122, 36, 36);
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
z-index: 2;
}
.overlay{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.49);
}
.activo{
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
}
.inactivo{
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}
.closeButton{
  position: absolute;
  right: 1px;
}
.closeButton:hover{
  border-radius: 1rem;
  transition: 500ms ease all;
  cursor: pointer;
background-color: rgba(240, 248, 255, 0.527);
}
.buttCont{
  position: relative;
}
.userName{
  color: rgb(0, 0, 0);
  font-size: 1rem;
}
.mainSpan{
  color:rgb(0, 0, 0);
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
}
.reason{
  font-weight: normal;
}
.statusCont {
  position: absolute;
  border: .2rem solid rgb(243, 118, 1);
  border-radius: 1rem;
width: 50%;
height: auto;
  color: rgb(0, 0, 0);
  background: rgb(226, 175, 98);

z-index:2;
}
.statusTextCont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;

}
@media screen and (max-width: 1080px) {
  .overlay{
    height: 105vw;
  }
}

@media screen and (max-width: 768px) {
  .MuiDataGrid-root {
    display: flex;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.408);
  }

  .MuiDataGrid-root {
    margin: 1rem;
    justify-content: center;
    width: 44.5rem;
  }
}
