.noticias-apartado-container {
   height: auto;
   width: 100%;
   padding-top: 4rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.noticias-apartado-container > span {
   font-size: 3vw;
   font-weight: bold;
}
.filters-noticias-container {
   display: flex;
   width: fit-content;
   justify-content: space-around;
   align-items: center;
   padding-bottom: 2vh;
}
.loader-noticias-filtros {
   position: relative;
   width: 10vw;
   height: 10vh;
}

.loader-noticias-filtros:before,
.loader-noticias-filtros:after {
   content: "";
   border-radius: 50%;
   position: absolute;
   inset: 0;
   box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader-noticias-filtros:after {
   box-shadow: 0 2px 0 #ff3d00 inset;
   animation: rotate 2s linear infinite;
}

@keyframes rotate {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}
.searchbar-container {
   display: flex;
   background-color: rgb(255, 143, 102);
}
.paginado-notices {
   width: 90vw;
   display: flex;
   justify-content: center;
   padding-bottom: 3vh;
}
.paginado-notices > button {
   font-size: 1.5vw;
}
.filters-noticias-container > select {
   background-color: rgb(255, 143, 102);
   width: 100%;
   text-align: center;
   font-weight: bold;
   font-size: 1.5vw;
   height: 5vh;
}
/* Estilo para el contenedor de las tarjetas de noticias */
.card-container-noticiasInpisables {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100vw;
   flex-wrap: wrap;
}

.card-cartas-noticias:hover {
   box-shadow: 2px 9px 19px 4px rgba(167, 99, 54, 0.75);
   -webkit-box-shadow: 2px 9px 19px 4px rgba(167, 99, 54, 0.75);
   -moz-box-shadow: 2px 9px 19px 4px rgba(167, 99, 54, 0.75);
   transition: 300ms ease all;
   background-color: rgb(198, 89, 25);
}
.h2dark {
   color: black;
}
.card-cartas-noticias {
   width: 30vw; /* Ancho de cada tarjeta (ajusta según tus necesidades) */
   margin-bottom: 3vh;
   background-color: #686868;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding-top: 2vh;
   padding-bottom: 2vh;
   padding-left: 1vw;
   padding-right: 1vw;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   height: 48vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.ImagenTituloCard {
   height: 80%;
   text-align: center;
}

.boton-card-noticia {
   font-size: 1.7vw;
}

.boton-card-noticia:hover {
   border-radius: 0.5rem;
   transition: 200ms ease all;
   background-color: rgb(241, 114, 35);
}
.card-cartas-noticias img {
   width: 100%;
   height: 85%;
   object-fit: cover;
}
.card-cartas-noticias h2 {
   font-size: 1.8vw;
   margin-top: 0vh;
   line-height: 1.1;
}

@media screen and (max-width: 425px) {
   .card-cartas-noticias {
      width: 45vw;
      height: 27vh;
      padding: 0.5rem;
   }
   .card-cartas-noticias h2 {
      font-size: 0.6rem;
      margin-top: -0.2rem;
   }
   .boton-card-noticia {
      font-size: 0.5rem;
   }
   .filters-noticias-container > select {
      font-size: 0.7rem;
      height: 1.1rem;
   }
   .paginado-notices > button {
      font-size: 2vw;
   }
   .noticias-apartado-container > span {
      font-size: 4vw;
      font-weight: bold;
   }
}
