/* Estilo para el contenedor de las tarjetas de noticias */
.card-container-noticiasInpisables {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  
  flex-wrap: wrap;
  
  }
  
  /* Estilo para cada tarjeta de noticia */
  .card-cartas-noticias {
    width: 30vw; /* Ancho de cada tarjeta (ajusta según tus necesidades) */
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: space-evenly ;
    justify-content: space-between;
    
  }
  .ImagenTituloCard{
    height: 80%;
    
    text-align: center;
  }
  .boton-card-noticia{
    text-align: right;
  }
  
  .card-cartas-noticias img {
    max-width: 90%;
    
    

  }
  
  .card-cartas-noticias h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .card-cartas-noticias p {
    font-size: 14px;
    color: #555;
  }

  

  @media screen and (max-width: 2560px){
    
    .boton-card-noticia{
      font-size: 30px;
    }
    .card-cartas-noticias h2 {
      font-size: 40px;
      margin: 10px 0;
    }
    
  }
    @media screen and (max-width: 1440px){
    
    .boton-card-noticia{
      font-size: 18px;
    }
    .card-cartas-noticias h2 {
      font-size: 15px;
      margin: 10px 0;
    }
    .card-cartas-noticias {
      height: 60vh;
    }

  }
  @media screen and (max-width: 1024px){
    .card-cartas-noticias{
      height: 45vh;
    }
    .boton-card-noticia{
      font-size: 14px;
    }
    .card-cartas-noticias h2 {
      font-size: 16px;
      margin: 10px 0;
    }
 
  }
  @media screen and (max-width: 768px){
    .card-cartas-noticias{
      height: 45vh;
    }
    .boton-card-noticia{
      font-size: 10px;
    }
    .card-cartas-noticias h2 {
      font-size: 14px;
      margin: 10px 0;
    }
    
    
  }
  @media screen and (max-width: 425px){
    .card-cartas-noticias{
      height: 27vh;
      padding: 0.5rem;
    }
    .boton-card-noticia{
      font-size: 7px;
    }
    .card-cartas-noticias h2 {
      font-size: 8px;
      margin: 10px 0;
    }
    
    
  }
