.containerQR{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}  

.textarea-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 12px;
  }
  
  .responsive-textarea {
    width: 100%;
    height: auto;
    height: 115px;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid #ccc;
  }