.containerFiltros{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
align-items: center;

}
/* .type{
 font-weight: bold;
  font-size: 2rem;
} */
.catFilterCont{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 7rem;
}
.fechaFilterCont{
  display: flex;
flex-direction: column;
align-items: center;
height: 15rem;
}
.filtroFechaCont{
height: 100%;;
}