.escudo{
    width: 60px;
    height: 60px;
    padding: 10px;
}

.escudo img {
    width: 100%; /* La imagen ocupará el ancho completo del div */
    height: 100%; /* La imagen ocupará la altura completa del div */
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto y cubriendo el área disponible */
  
}

/* .contenedorCard{
    background-color: lightgray;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
} */

.title{
    font-size: 18px;
    font-weight: bold;
}

.competencia{
    font-size: 14px;
    
}

.result{
    font-size: 30px;
    font-weight: bold;
}

.button{
    border-radius: 5px;
    border: 1px;
    background-color: orange;
}
@media screen and (max-width: 768px) {
    .cont {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .contCard{
      
    }
  }