.RightSide {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
align-items: center;
  width: 95%;
  height: 95%;
  overflow: hidden;
}
.RightSide::-webkit-scrollbar {
  border-radius: 1rem;
  background: orange;
}
.RightSide::-webkit-scrollbar-thumb {
  background-color: #f9721c;
  border-radius: 1rem;
}
.RightSide::-webkit-scrollbar-thumb:hover {
  background-color: #f85f00;
}
.RightSide::-webkit-scrollbar-thumb:active {
  background-color: #f85f00;
}
@media screen and (max-width: 1080px) {
  .RightSide {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    height: 50%;
    overflow-y: auto;
  }
}
@media screen and (max-width: 768px) {
  .RightSide{
    width: 100%;
    margin-top: 0;

}
  
  .RightSide>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  }
