.contenedor_form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;    
} 
.loader {
    width: 48px;
    height: 12px;
    margin-top: 40px;
    background: #FFF;
    display: inline-block;
    position: relative;
  }
  .loader::after {
    content: '';  
    left: 50%;
    top: -47px;
    transform: translate(-50%, 0);
    position: absolute;
    border: 15px solid transparent;
    border-bottom-color: #FFF;
    box-sizing: border-box;
    animation: bump 0.4s ease-in-out infinite alternate;
  }
  .loader::before {
    content: '';  
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
    position: absolute;
    width: 15px;
    height: 20px;
    background: #FFF;
    box-sizing: border-box;
    animation: bump 0.4s ease-in-out infinite alternate;
  }
  
  @keyframes bump {
    0% {
      transform: translate(-50%, 5px);
    }
    100% {
      transform: translate(-50%, -5px);
    }
  }
      
.loader_sponsor_container{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
position: absolute;
background-color: rgba(66, 66, 64, 0.47);
backdrop-filter: blur(3px);
z-index: 10;
border-radius: 1rem; 

}
.response-succes-sponsor{
    position: absolute;
    left: 0;
    bottom: -10%;
    z-index: 10;
}
.et_form_sponsor{
    position: relative;
    background-color:#FBEED8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
    padding: 2rem;
    margin-top: 1rem;
    height: 28rem;
} 
.h2_form_ponsor{
    color: #FF6500;    
}
.name_sponsor_form{     
    padding: 10px;   
    width: 100%;   
}
.name_sponsor_form h4{   
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    color:rgb(88, 88, 88);
}
.name_sponsor_form label{
margin-left: 2rem;
margin-right: 1rem;
}
.Tipofile_sponsor_form{
   width: 100%;
   padding: 10px;
}
.Tipofile_sponsor_form h4{   
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(88, 88, 88);
   
}
.Tipofile_sponsor_form label{  
    margin-right: 12px;
}
.img_sponsor{    
    border: 3px solid  #FF6500;
    padding: 4px;
    border-radius: 4px;
}
.subirImagen_sponsor_form{
    align-items: center;   
    padding: 10px;
    width: 100%;   
}
.subirImagen_sponsor_form h4{   
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(88, 88, 88);
}
.buton_subirImg_sponsor{
    margin-left: 2rem;
    font-size: small;
    background-color: #FF6500;
}
.bot button{
    border:3px solid  #FF6500;
}
.check{
    border: 3px solid orange;
    border-radius: 4px;
    padding: 5px;
}
.buton_create_sponsor{
    background-color: #FF6500;
    border-radius: 4px;
    padding: 7px;
}
.imagen{
    width: 150px;
    display: flex;
    padding: 10px;    
}
.renderiza_img_sponsor{
    margin-top: 1rem;
}

