.homeContainer{
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.parteCentral{
  display: flex;
  flex-direction: column;
align-items: center;
gap: 1rem;
}
.parteCentral .sponsor1{
  text-align: center;
  width: 120%;
  height: 10%;
  background-color: rgba(255, 0, 0, 0.222);
}