.homeContainer{
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.parteCentral{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.parteCentral .sponsor1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;  
  
}