.conteinOrder {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.conteinNavBar {
  width: 100%;
  align-items: end;
  justify-content: flex-end;
  background-color: blue;
  display: flex;
}
