/* QRCarnet.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .qrcode {
    width: 100%; /* Ajusta el ancho al 100% para que sea responsive */
    max-width: 300px; /* Cambia el tamaño máximo según tus preferencias */
    height: auto;
  }
  