.noticeModalCont {
  width: 70vw;
  height: 70vh;
  padding: 1rem;
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.972);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 1rem;
}
.crear-noticia-cont{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.titleNoticeCont > span {
  font-weight: bold;
  font-size: 3vh;
}
.titleNoticeCont {
  text-align: center;
}

.closeButtonNotice{
  position: absolute;
  cursor: pointer;
  background-color: rgb(255, 111, 8);
  border-radius: 50%;
  top: 10px;
  right:10px;
}
.closeButtonNotice:hover{
  background-color: rgb(252, 135, 51);

  
}

.infoContainer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noticeDataContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top: 0.2rem solid black;
}

.noticeDataContainer .imgNoticeContModal{
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  position: relative;
} 

.noticeDataContainer .imgNoticeContModal>img{
  width: 60%;
} 
.noticeDataContainer .imgNoticeContModal .resume-date-container{
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.761);
  text-align: center;
  width: 80%;
} 
.dataGrid-notices-container{
  position: relative;
  height: 82vh;
}
.noticeDataContainer .contentContainer{
  padding: 1rem;

  display: flex;
  flex-direction: column;
}
